
<link type="text/css" rel="stylesheet" href="{{ site.baseurl | prepend: site.url }}/assets/css/lightslider.css" />
<link type="text/css" rel="stylesheet" href="{{ site.baseurl | prepend: site.url }}/assets/css/box.css" />
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="{{ site.baseurl | prepend: site.url }}/assets/js/lightslider.js"></script>


<html>
<body>
  <p>
    <img src="{{ site.baseurl }}/assets/images/music-on.png" onclick="mute()" id="volumeButton" width="1%" height="auto">
    <img src="{{ site.baseurl }}/assets/images/shuffle.png" onclick="suffle()" id="volumeButton" width="1%" height="auto"><br>
    <label style="color:#FFFFFF;">Now Playing: </label><i id="songTitle" style="color:#FFFFFF;"></i>
  </p>
  <audio id="myAudio" autoplay>
        <source id="song" src="">
  </audio>
<div class=container>

  {% for character in site.data.characters %}

  <div style="padding-top: 100px;">
    <label for="name" style="color:#FFFFFF;">{{ character.Name }}</label> <br>
    <i for="name" style="color:#FFFFFF;">{{ character.Series }}</i> <br>
    <span style="color:#FFFFFF;">Kakera: {{ character.Value }}</span>
    <img src="{{ site.baseurl }}/assets/images/kakera.png" class="kakera"/>
  </div>

  <div class="imagecontainer" name="{{ character.Name }}" style="">

    {% for image in site.static_files %}
        {% if image.path contains character.Name %}
            {% assign imagepath = image.path | split: "/" %}
            <img src="{{ site.baseurl }}{{ image.path }}" class="{{ character.Name }} characterImg" />
        {% endif %}
    {% endfor %}

  </div>
  {% endfor %}
</div>

{% include open-embed.html %}
<div class="box">
<div>
</div>
<div>
</div>
<div>
</div>
<div>
</div>
<div>
</div>
<div>
</div>
<div>
</div>
<div>
</div>
<div>
</div>
<div>
</div>
</div>


</body>
</html>
 <style>
  .imagecontainer{
     /* border-top: 5px dotted #34495e; */
     /* border-bottom: 5px dotted #34495e; */
  }
  .kakera{
    width: 1% !important;
    height: auto !important;
    font-weight: bold;
    margin-bottom: -5px;
  }
  .lSPager{
    visibility: hidden;
  }
  .characterImg{
    width: 225px;
    height: 350px;
    transition: transform .2s; /* Animation */
  }
  .characterImg:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  body {
    /* background-color: #2c3e50; */
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(2,0,36,1) 100%);
  }
 </style>

 <script type="text/javascript">


  function mute() {
     var vol = document.getElementById("myAudio");
      if (document.getElementById("volumeButton").src.indexOf('music-on.png') != -1)
      {
          document.getElementById("volumeButton").src = "{{ site.baseurl }}/assets/images/music-off.png";
          vol.pause();
      }
      else
      {
          document.getElementById("volumeButton").src = "{{ site.baseurl }}/assets/images/music-on.png";
          vol.play();
      }
  }

  function suffle() {
     var songs = [{% for songs in site.static_files %}
                   {% if songs.path contains ".mp3" %}
                     "{{ songs.path }}",
                   {% endif %}
                 {% endfor %}];
      var currentSong = document.getElementById("song").src;
      var currentSong = currentSong.replace("{{site.url}}", "");
      var currentSong = currentSong.replace("{{site.baseurl}}", "");
      var currentSong = currentSong.replace("%20", " ");
      var randomNum = Math.floor(Math.random() * songs.length);

      while(currentSong == songs[randomNum]){
        var randomNum = Math.floor(Math.random() * songs.length);
      }

      var nowPlaying = removeMP3str(songs[randomNum]);
      document.getElementById("song").src = "{{ site.baseurl }}"+songs[randomNum];
      document.getElementById("songTitle").innerHTML = nowPlaying;
      var vol = document.getElementById("myAudio");
      vol.load();
      vol.volume = 0.1;
      vol.onended = function(){
          randomNum = Math.floor(Math.random() * songs.length);
          document.getElementById("song").src = "{{ site.baseurl }}"+songs[randomNum];
          nowPlaying = removeMP3str(songs[randomNum]);
          document.getElementById("songTitle").innerHTML = nowPlaying;
          vol.load();
      };
  }

  var songs = [{% for songs in site.static_files %}
                {% if songs.path contains ".mp3" %}
                  "{{ songs.path }}",
                {% endif %}
              {% endfor %}];


   var randomNum = Math.floor(Math.random() * songs.length);
   var nowPlaying = removeMP3str(songs[randomNum]);
   document.getElementById("song").src = "{{ site.baseurl }}"+songs[randomNum];
   document.getElementById("songTitle").innerHTML = nowPlaying;
   var vol = document.getElementById("myAudio");
   vol.load();
   vol.volume = 0.1;
   vol.onended = function(){
       randomNum = Math.floor(Math.random() * songs.length);
       document.getElementById("song").src = "{{ site.baseurl }}"+songs[randomNum];
       nowPlaying = removeMP3str(songs[randomNum]);
       document.getElementById("songTitle").innerHTML = nowPlaying;
       vol.load();
   };

   function removeMP3str(str){
     var nowPlaying = str;
     nowPlaying = nowPlaying.replace("/assets/music/", "");
     return nowPlaying = nowPlaying.replace(".mp3", "");
   }

   $('.imagecontainer').lightSlider({
    keyPress:false,
    autoWidth:true,
    auto:false,
    speed:1600,
    controls:false,
    pauseOnHover:true,
    pause: 5000,
    item:4,
    loop:false,
    onSliderLoad: function() {
        $('#content-slider').removeClass('cS-hidden');
    }
});

</script>
